<context>
    <request>
        ...
    </request>
    <messages>
        ...
    </messages>
    <execution focus="#102943">
        /*
            行为从模糊到具体
            从大方向到细节
        
            调查研究“猫咪为什么喜欢纸箱的科学解释” #891133
                搜索相关新闻 #8908ab [done]
                    with traits "search_skill"
                    通过谷歌搜索“猫咪为什么喜欢纸箱” #3d1398 [done]
                搜索相关生物学知识 #1208ab [doing]
                    deps #8908ab
                搜索相关心理学知识 #102943 [doing] [focus] 
                总结信息 #849281 [todo]
        */
        <proc id="#891133">
            <title>
                调查研究“猫咪为什么喜欢纸箱的科学解释”
            </title>
            <process>
                <thought>
                    我需要调查研究“猫咪为什么喜欢纸箱的科学解释”
                </thought>
                <do type="branch" id="#8908ab"> <!-- 拆分子行为节点 -->
                    <title>
                        搜索相关新闻
                    </title>
                    <process>
                        ...
                    </process>
                </do>
                <!-- 只能看到当前节点的详细上下文与父节点路径上的详细上下文，无法看到兄弟节点的详细上下文，但可以看到描述信息 -->
            </process>
        </proc>
    </execution>
    <!-- 行为树 focus 鼠标移动 -->
    <effects>
        创建了变量 a 记录 ...
    </effects>
</context>

// 1. handle input
// 2. 登记上计划树
// 3. 移动 focus 光标到 todo/doing 节点
// 4. 自动加载 focus 所在的树上的节点的详细上下文